<!-- components/footer.ejs -->
<footer class="footer bg-secondary py-4">
    <div class="container text-white">
        <div class="row">
            <div class="col-lg-6">
                <h5>Contact Us</h5>
                <p>Email: meetp6951@gmail.com</p>
                <p>Phone: +1234567890</p>
            </div>
            <div class="col-lg-6">
                <h5>Follow Us</h5>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#" class="text-white text-decoration-none">Twitter</a></li>
                    <li class="list-inline-item"><a href="#" class="text-white text-decoration-none">LinkedIn</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-6">
                <a href="/login" class="text-white text-decoration-none">Login</a>
                <span class="mx-2">|</span>
                <a href="/signup" class="text-white text-decoration-none">Sign Up</a>
            </div>
            <div class="col-lg-6 text-lg-end">
                <p>&copy; 2024 Your Company. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>

<!-- Custom CSS -->
<style>
    /* Sticky footer */
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .footer {
        margin-top: auto;
    }
</style>
